#BSUB-J {{ job_name }}[1-{{ n_jobs }}]  # name of the job / array jobs
#BSUB-n {{ cores | 32 }}                 # number of cores to use per job
#BSUB-o {{ log_file |  cmq_log/%I}}      # stdout + stderr; %I for array index
#BSUB-M {{ memory | 40000 }}             # Memory requirements in Mbytes
#BSUB-R "span[hosts=1] select[mem>40000] rusage[mem=40000]"  # Memory requirements in Mbytes
#BSUB-q normal                        # name of the queue (uncomment)
##BSUB-W {{ walltime | 6:00 }}          # walltime (uncomment)
#BSUB-G team281

ulimit -v $(( 1024 * {{ memory | 40000 }} ))
CMQ_AUTH={{ auth }} R --no-save --no-restore -e 'clustermq:::worker("{{ master }}")'
